.movie {
  max-width: 364px;
  width: 100%;
  height: 271px;
  background: #222;

  display: grid;
}

.movie__figure {
  margin: 0;
  position: relative;
}

.movie__figure-caption {
  height: 68px;
  padding: 14px 14px;
  box-sizing: border-box;

  display: grid;
  justify-items: start;
  gap: 9px;
}

.movie__title {
  max-width: 280px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .movie__title {
    max-width: 210px;
  }
}

.movie__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  margin: 0;
}

.movie__like {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../images/not-save-icon.svg);
  background-color: transparent;

  position: absolute;
  top: 19px;
  right: 14px;

  transition: opacity 0.2s linear;
}

.movie__like:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movie__like_active {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../images/save-icon.svg);
  background-color: transparent;

  position: absolute;
  top: 19px;
  right: 14px;

  transition: opacity 0.2s linear;
}

.movie__like_active:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movie__delete {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../images/delete-movie.svg);
  background-color: transparent;

  position: absolute;
  top: 19px;
  right: 14px;

  transition: opacity 0.2s linear;
}

.movie__delete:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movie__link {
  display: flex;
  justify-content: center;
}

.movie__image {
  width: 100%;
  height: 100%;
  height: 203px;
  object-position: center;
  object-fit: cover;
  transition: opacity 0.2s linear;
}

.movie__image:hover {
  opacity: 0.7;
  cursor: pointer;
}
