.profile {
  max-height: 625px;
  margin: 0;
  padding: 74px 0 70px;
  box-sizing: border-box;

  display: grid;
  justify-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    max-height: 900px;
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-height: 705px;
    padding: 70px 0 40px;
  }
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #fff;
  margin: 0 0 123px;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    margin: 0 0 96px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin: 0 0 80px;
  }
}

.profile__fildset {
  width: 410px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile__fildset {
    width: 260px;
  }
}

.profile__fildset:first-of-type {
  border-bottom: 1px solid #424242;
  padding: 0 0 16px;
  margin: 0 0 17px;
}

.profile__label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  margin: 0;
}

.profile__input {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #fff;
  padding: 0;

  background-color: transparent;
  border: none;
}

.profile__input:focus {
  outline: 1px solid #4285f4;
}

.profile__edit-button {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  margin: 220px 0 0;
  padding: 0;

  background-color: transparent;
  border: none;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .profile__edit-button {
    margin: 210px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
    margin: 379px 0 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__save-button {
  width: 410px;
  border: none;
  border-radius: 3px;
  margin: 224px 0 0;
  padding: 14px 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #4285f4;

}

@media screen and (max-width: 1279px) {
  .profile__save-button {
    font-size: 13px;
    line-height: 16px;
    margin: 210px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__save-button {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
    margin: 383px 0 0;
  }
}

.profile__save-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__logout-link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;

  color: #ee3465;
  text-decoration: none;
  margin: 16px 0 0;

  transition: opacity 0.2s linear;
}

@media screen and (max-width: 767px) {
  .profile__logout-link {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__logout-link:hover {
  opacity: 0.7;
}
