.saved-movies {
  margin: 0 auto;
  padding: 70px 70px 0;
  box-sizing: border-box;

  display: grid;
}

@media screen and (max-width: 1279px) {
  .saved-movies {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    padding: 80px 10px 0;
  }
}
