.form {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;

  display: grid;
}

@media screen and (max-width: 1279px) {
  .form {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .form {
    padding: 56px 30px 30px;
  }
}

.form__logo {
  min-width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);

  justify-self: flex-start;
}

@media screen and (max-width: 767px) {
  .form__logo {
    align-self: center;
  }
}

.form__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 40px 0 16px;
}

@media screen and (max-width: 767px) {
  .form__title {
    justify-self: center;
    margin: 50px 0 56px;
  }
}

.form__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-top: 24px;
}

.form__input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin: 5px 0 0;
  padding: 0 0 10px;
  box-sizing: border-box;

  background-color: #202020;
  border: none;
  border-bottom: 1px solid #424242;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.form__button {
  background: #4285f4;
  border: none;
  border-radius: 3px;
  padding: 14px 0;
  box-sizing: border-box;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .form__button {
    padding: 15px 0;
  }
}

.form__button_register {
  margin: 152px 0 0;
}

@media screen and (max-width: 767px) {
  .form__button_register {
    margin: 135px 0 0;
  }
}

.form__button_register:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 0;
}

@media screen and (max-width: 767px) {
  .form__caption {
    margin: 14px 0 0;
  }
}

.form__link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;

  transition: opacity 0.2s linear;
  margin: 0;
}

.form__link:hover {
  opacity: 0.7;
}
