.register {
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;

  display: grid;
}

@media screen and (max-width: 1279px) {
  .register {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .register {
    padding: 56px 30px 30px;
  }
}

.register__logo {
  min-width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);

  justify-self: flex-start;
}

@media screen and (max-width: 767px) {
  .register__logo {
    justify-self: center;
  }
}

.register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #fff;
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .register__title {
    justify-self: center;
    margin: 50px 0 80px;
  }
}

.register__label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #8b8b8b;
}

.register__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin: 5px 0 0;
  padding: 0 0 10px;
  box-sizing: border-box;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
}

.register__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.register__error {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ee3465;
}

.register__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;
  margin: 6px 0 0;
  min-height: 18px;
}

.register__button {
  border: none;
  border-radius: 3px;

  margin: 128px 0 0;
  padding: 14px 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  position: relative;
}

@media screen and (max-width: 767px) {
  .register__button {
    padding: 15px 0;
    margin: 216px 0 0;
  }
}

.register__button_enabled {
  background: #4285f4;
  color: #fff;
}

.register__button_enabled:hover {
  opacity: 0.7;
  cursor: pointer;
}

.register__button_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.register__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 0;
}

@media screen and (max-width: 767px) {
  .register__caption {
    margin: 14px 0 0;
  }
}

.register__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;

  transition: opacity 0.2s linear;
  margin: 0;
}

.register__link:hover {
  opacity: 0.7;
}
