.footer {
  min-height: 172px;
  padding: 80px 70px 0 70px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 80px 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 80px 10px 37px 10px;
  }
}

.footer__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__container {
  width: 100%;
  border-top: 1px solid #424242;

  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
    text-align: center;
  }
}

.footer__links {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 30px;
  }
}

.footer__link {
  text-decoration: none;
  margin: 0;
  display: block;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;

  transition: opacity 0.2s linear;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
