.login {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;

  display: grid;
}

@media screen and (max-width: 1279px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding: 56px 30px 30px;
  }
}

.login__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);

  justify-self: flex-start;
}

@media screen and (max-width: 767px) {
  .login__logo {
    justify-self: center;
  }
}

.login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #fff;
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .login__title {
    justify-self: center;
    margin: 50px 0 80px;
  }
}

.login__label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #8b8b8b;
}

.login__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;

  margin: 5px 0 0;
  padding: 0 0 10px;
  box-sizing: border-box;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
}

.login__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.login__error {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ee3465;
}

.login__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;
  margin: 6px 0 0;
  min-height: 18px;
}

.login__button {
  border: none;
  border-radius: 3px;
  margin: 197px 0 0;
  padding: 14px 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  position: relative;
}

@media screen and (max-width: 767px) {
  .login__button {
    padding: 15px 0;
    margin: 285px 0 0;
  }
}

.login__button_enabled {
  background: #4285f4;
  color: #fff;
}

.login__button_enabled:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login__button_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

/* .login__button_error::before {
  content: 'На сервере произошла ошибка';
  position: absolute;
  top: -34px;
  left: 0;
  right: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  color: #ff004c;
  height: 14px;
} */

.login__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 0;
}

@media screen and (max-width: 767px) {
  .login__caption {
    margin: 14px 0 0;
  }
}

.login__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;

  transition: opacity 0.2s linear;
  margin: 0;
}

.login__link:hover {
  opacity: 0.7;
}
